@import '../../assets/styles/mixins.scss';
@import '../../assets/styles/variables.scss';

.forgot-password-page {
	@include center-elements-virtical;

	.forgot-password-container {
		@include center-elements-virtical;
		flex-direction: column;
		background-color: white;
		width: 25%;
		height: 70%;
		border: 1px solid #ddd;
		border-radius: 10px;
		margin-top: 5rem;

		.btn-img {
			width: 100px;
			margin-top: 6rem;
			margin-bottom: 0;
		}

		.forgot-password-title {
			@include wrap-content;
			font-weight: 500;
			color: #444;
			margin-top: 1rem;
		}

		.forgot-password-sub-title {
			@include wrap-content;
			margin-bottom: 2rem;
			font-weight: 300;
			color: #777;
		}

		.link {
			@include wrap-content;
			text-decoration: none;

			.forgot-button {
				@include wrap-content;
				font-size: 0.8rem;
				color: $primary;
				margin-top: 2rem;
				margin-bottom: 0.5rem;
				cursor: pointer;
			}
		}

		form {
			@include center-elements-virtical;
			@include wrap-content;

			.input {
				@include wrap-content;
				width: 300px;
				height: 45px;
				margin-bottom: 0.5rem;
				border: 1px solid #ddd;
				font-family: inherit;
				color: #666;
				padding: 0 0.5rem;
				font-size: 1rem;
				border-radius: 5px;
				outline: none;

				&:focus {
					border: 1px solid $primary;
				}
			}

			.submit-button {
				@include wrap-content;
				width: 315px;
				height: 50px;
				margin: 0.5rem 0;
				background-color: $primary;
				color: white;
				font-size: 1rem;
				font-family: inherit;
				font-weight: 500;
				border: none;
				border-radius: 50px;
				outline: none;
				cursor: pointer;
			}
		}
	}
}
