@import '../../assets/styles/variables.scss';
@import '../../assets/styles/mixins.scss';

#navbar {
	@include center-elements;
	@include wrap-height;
	padding: 0rem 1rem;
	background-color: $navbar-color;
	border-bottom: $navbar-line;
	box-sizing: border-box;
	justify-content: space-between;
	background-color: white;

	.logo-wrapper {
		@include wrap-content;
	}

	.link {
		text-decoration: none;
	}

	.nav-btn-container {
		@include wrap-content;
		@include center-elements-horizontal;
	}

	.btn-img {
		width: $logo-width;
		height: 51px;
	}
}
