@import "../../assets/styles/variables.scss";
@import "../../assets/styles/mixins.scss";

#navbar {
  @include center-elements;
  @include wrap-height;
  padding: 0rem 1rem;
  background-color: $navbar-color;
  border-bottom: $navbar-line;
  box-sizing: border-box;
  justify-content: space-between;

  .nav-btn-container {
    @include wrap-content;

    .link {
      text-decoration: none;
    }
  }

  .btn-img {
    width: $logo-width;
  }
}
