@import '../../assets/styles/mixins.scss';
@import '../../assets/styles/variables.scss';

.home-page {
	.jumbotron {
		@include center-elements;

		.jumbotron-inner {
			@include center-elements-virtical;
			@include wrap-content;
			width: 70%;
			height: 65%;

			.btn-img {
				width: 300px;
				margin: 0;
			}

			.jumbotron-heading {
				@include wrap-content;
				font-size: 3rem;
				font-weight: 200;
				color: #555;
			}

			.jumbotron-sub-heading {
				@include wrap-content;
				font-weight: 200;
				font-size: 1rem;
				color: #aaa;
			}

			.search-bar {
				background-color: white;
				@include wrap-content;
				@include center-elements;
				padding: 0.3rem;
				border-radius: 50px;
				border: 1px solid #ddd;
				margin: 3rem;
				white-space: nowrap;

				.search-icon {
					margin-right: 1rem;
					width: 1.5rem;
					color: #ccc;
					margin-left: 1rem;
				}

				form {
					@include wrap-content;
					@include center-elements;

					.search-input {
						@include wrap-content;
						display: inline-block;
						padding: 0;
						margin: 0;
						width: 400px;
						height: 40px;
						font: inherit;
						color: #666;
						font-size: 1.5rem;
						border: 0px solid;
						outline: none;
					}

					.search-arrow-button {
						@include wrap-content;
						@include center-elements;
						background-color: $primary;
						padding: 0.5rem;
						border-radius: 50px;
						cursor: pointer;
						border: none;

						.arrow-icon {
							width: 30px;
							color: white;
						}
					}
				}
			}
		}
	}
}
