@import "../../assets/styles/mixins.scss";

.btn-default {
  @include center-elements;
  width: auto;
  height: 3rem;
  margin: 1rem;
  padding: 0rem 2rem;

  color: white;
  background-color: black;
  text-decoration: none;

  border-radius: 50px;
  white-space: nowrap;
}

.btn-border {
  @include center-elements;
  width: auto;
  height: 3rem;
  margin: 1rem;
  padding: 0rem 2rem;

  color: white;
  background-color: none;
  text-decoration: none;
  border: solid 1px white;

  border-radius: 50px;
  white-space: nowrap;
}

.btn-blank {
  @include wrap-content;
  margin: 1rem;

  color: #ffffff;
  text-decoration: none;

  white-space: nowrap;
}
