@import "../../assets/styles/mixins.scss";
@import "../../assets/styles/variables.scss";

.btn-default {
  @include center-elements;
  width: auto;
  height: 3rem;
  margin: 1rem;
  padding: 0rem 2rem;
  cursor: pointer;

  color: $button-default-color;
  background-color: $button-default-background-color;
  border-radius: $button-default-radius;
  text-decoration: none;
  white-space: nowrap;
}

.btn-border {
  @include center-elements;
  width: auto;
  height: 3rem;
  margin: 1rem;
  padding: 0rem 2rem;
  cursor: pointer;

  color: $button-border-color;
  border: $button-border-border;
  border-radius: $button-default-radius;
  background-color: none;
  text-decoration: none;
  white-space: nowrap;
}

.btn-blank {
  @include wrap-content;
  margin: 1rem;
  cursor: pointer;

  color: $button-default-color;
  text-decoration: none;
  white-space: nowrap;
}
