@import "../../assets/styles/mixins.scss";
@import "../../assets/styles/variables.scss";

.section-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  .section-title {
    font-size: $section-title-size;
    color: $section-title-color;
    width: $section-width;
    margin: 4rem 0 0rem 0;
  }

  .section-list {
    width: $section-width;
    color: $section-info-color;
    font-size: $section-info-size;

    .sub-title {
      color: $section-sub-title-color;
      font-weight: $section-sub-title-weight;
    }

    .list-item {
      @include wrap-content;
      @include center-elements-horizontal;
      white-space: nowrap;
      list-style-type: none;
      margin: 0.5rem 0;

      &-spaced {
        @extend .list-item;
        margin-top: 2rem;
      }

      &-tabbed {
        @extend .list-item;
        margin-left: 2rem;
      }
    }
  }

  .undo-space {
    margin-top: 0 !important;
  }
}
