$navbar-opacity: 0.3;
$navbar-color: rgba(0, 0, 0, $navbar-opacity);

$jumbo-gradient: linear-gradient(90deg, rgb(140, 142, 255), rgb(130, 205, 255));
$jumbo-name-size: 3rem;
$jumbo-name-weight: 500;
$jumbo-name-color: white;
$jumbo-job-size: 1.5rem;
$jumbo-job-weight: 200;
$jumbo-job-color: white;

$section-width: 500px;
$line-width: 600px;
$section-title-size: 1.75rem;
$section-title-color: #444;
$section-info-size: 1.25rem;
$section-info-color: #555;
